{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}

</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>

<div style="width:100%;text-align:center">

    <form action="{{ url_for('modify_user_info') }}" method="post">
        <fieldset>

                        <p>
                            <label>Username</label>
                            <span class="field"><input  name="username" class="smallinput" value=" {{ user[0] }}"/></span>
                        </p>


                        <p>
                            <label>Password</label>
                            <span class="field"><input  name="password" class="smallinput" value=" {{ user[1]  }}"/></span>
                        </p>



                        <p>
                            <label>Cash</label>
                            <span class="field"><input  name="cash" class="smallinput" value=" {{ user[2]  }}"/></span>
                        </p>


                        <p>
                            <label>Assets</label>
                            <span class="field"><input  name="assets" class="smallinput" value=" {{ user[3]  }}"/></span>
                        </p>


                        <p>
                            <label>FullName</label>
                            <span class="field"><input  name="fullname" class="smallinput" value=" {{ user[4] }}"/></span>
                        </p>


                        <p>
                            <label>Email</label>
                            <span class="field"><input  name="email" class="smallinput" value=" {{user[5] }}"/></span>
                        </p>


                        <p>
                            <label>Phonenumber</label>
                            <span class="field"><input  name="phonenumber" class="smallinput" value=" {{user[6] }}"/></span>
                        </p>

                        <p>
                            <label>FacebookLink</label>
                            <span class="field"><input  name="facebooklink" class="smallinput" value=" {{user[7]  }}"/></span>
                        </p>


            <div class="form-group">
                <button class="stdbtn btn_yellow">Modify</button>
            </div>


        </fieldset>
    </form>

</div>

{% endblock %}
